
<div class="max-w-7xl mx-auto mx-8">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h1 class="mt-12 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl text-red-600">Edit <%= resource_name.to_s.humanize %></h1>

    <div class="field text-lg font-bold mb-4 mt-12 max-w-2xl">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"border-2 border-red-200 rounded-md w-full" %>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field text-lg font-bold mb-4 mt-4 max-w-2xl">
    <%= f.label :password %> <span class="text-xs">(leave blank if you don't want to change it)</span>
    <%= f.password_field :password, autocomplete: "new-password", class:"border-2 border-red-200 rounded-md w-full" %>
    <% if @minimum_password_length %>
      <span class="text-xs"><%= @minimum_password_length %> characters minimum</span>
    <% end %>
  </div>
 

  <div class="field text-lg font-bold mb-4 mt-4 max-w-2xl">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"border-2 border-red-200 rounded-md w-full" %>
  </div>


  <div class="field text-lg font-bold mb-4 mt-4 max-w-2xl">
    <%= f.label :current_password %> <span class="text-xs">(we need your current password to confirm your changes)</span>
    <%= f.password_field :current_password, autocomplete: "current-password",class:"border-2 border-red-200 rounded-md w-full" %>
  </div>



   <div class="actions bg-red-400 rounded-md flex items-center justify-center my-4 max-w-sm">
      <div class="py-2 px-4 text-white cursor-pointer ">
      <%= f.submit "Update" %>
      </div>
   </div>
<% end %>

<p class="mt-8 font-semibold">Unhappy? </p>
<div class="actions bg-red-700 rounded-md flex items-center justify-center my-4 max-w-sm">
      <div class="py-2 px-4 text-white cursor-pointer ">
     <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
   </div>

</div>