<%= form_with(model: page) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation flex items-center justify-center">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

    
    <div class="field text-lg font-bold mb-4 mt-12 max-w-2xl">
      <%= form.label :gem %>
      <%= form.text_field :gem , class:"border-2 border-red-200 rounded-md w-full" %>
    </div>

    <div class="field text-lg font-bold my-4 max-w-2xl">
      <%= form.label :repo %>
      <%= form.text_field :repo , class:"border-2 border-red-200 rounded-md w-full" %>
    </div>

    <div class="field text-lg font-bold my-4 max-w-2xl">
      <%= form.label :category %>
      <%= form.text_field :category , class:"border-2 border-red-200 rounded-md w-full" %>
    </div>

    <div class="actions bg-red-400 rounded-md flex items-center justify-center my-4 max-w-sm">
      <div class="py-2 px-4 text-white cursor-pointer ">
      <%= form.submit %>
      </div>
    </div>

<% end %>
